@media (max-width: 1440px) {
	.hero__image, .hero__img--modifire {
		width: 75rem;
	}
}

@media (max-width: 1365px) {
	.hero__image {
		width: 70rem;
	}
}

@media (max-width: 1308px) {
	.hero__image {
		width: 65rem;
	}
	.menu {
		margin-left: 5rem;
	}
	.why-plant-milk__our-speciality-item {
		padding: 1rem 3rem;
	}
}
@media (max-width: 1275px) {
	.menu {
		margin-left: 3rem;
	}
	.signin-cart-wrapper {
		margin-left: 5rem;
	}
}
@media (max-width: 1212px) {
	.hero__image {
		width: 62rem;
	}
}

@media (max-width: 1204px) {
	.signin-cart-wrapper {
		margin-left: 4rem;
	}
	.logo__image {
		width: 15rem;
	}
}

@media (max-width: 1168px) {
	.hero__image {
		width: 60rem;
	}
}

@media (max-width: 1148px) {
	.signin-cart-wrapper {
		margin-left: 4rem;
	}
	.logo__image {
		width: 12rem;
	}
}

@media (max-width: 1135px) {
	.hero__image {
		width: 55rem;
	}
	.why-plant-milk__our-speciality-item {
		padding: 1.5rem;
	}
	.why-plant-milk__our-speciality-image {
		width: 3rem;
	}
}

@media (max-width: 1062px) {
	.hero__image {
		width: 52rem;
	}
}

@media (max-width: 1024px) {
	.hero__image {
		width: 50rem;
	}
	.hero__title {
		font-size: 3.5rem;
	}
	.hero__excerpt {
		font-size: 1.2rem;
	}
}
@media (max-width: 983px) {
	.hero__image {
		width: 48rem;
	}
}

@media (max-width: 950px) {
	.hero__image {
		width: 45rem;
	}
}
@media (max-width: 908px) {
	.hero__image {
		width: 42rem;
	}
}
@media (max-width: 862px) {
	.hero__image {
		width: 40rem;
	}
}

@media (max-width: 830px) {
	.hero__image {
		width: 100%;
	}
	.hero__title {
		font-size: 3rem;
		line-height: 3.5rem;
	}
	.hero__excerpt {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

@media (max-width: 768px) {
	.hero-flex-wrapper {
		flex-direction: column-reverse;
	}
	.hero__description {
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 1104px) {
	.menu {
		margin-left: 2rem;
	}
	.signin-cart-wrapper {
		margin-left: 3rem;
	}
	.logo__image {
		width: 11rem;
	}
}

@media (max-width: 1061px) {
	.menu {
		margin-left: 1rem;
	}
	.signin-cart-wrapper {
		margin-left: 2rem;
	}
	.logo__image {
		width: 11rem;
	}

	.how-it-works__card:nth-child(odd) {
		padding: 6rem 1.5rem;
	}

	.how-it-works__card-image {
		width: 5rem;
	}

	.how-it-works__bordered {
		width: 12rem;
		height: 12rem;
		top: -12rem;
	}

	.how-it-works__dasshed {
		top: -13rem;
		width: 14rem;
		height: 14rem;
	}
}

@media (max-width: 1032px) {
	.menu__item {
		margin-left: 1rem;
	}

	.how-it-works__video-wrapper::before {
		height: 36%;
	}

	.how-it-works__video-wrapper::after {
		height: 33%;
	}
}
@media (max-width: 991px) {
	.menu__item {
		margin-left: 0.8rem;
	}
}

@media (max-width: 972px) {
	.menu__item {
		margin-left: 0.5rem;
	}
}

@media (max-width: 947px) {
	.menu__item {
		margin-left: 0.3rem;
	}
	.signin-cart-wrapper {
		margin-left: 2rem;
	}
	.logo__image {
		width: 10rem;
	}

	.how-it-works__card:nth-child(1) {
		padding: 7.2rem 1.5rem;
	}
}

@media (max-width: 930px) {
	.menu__item {
		margin-left: 0.3rem;
	}
	.menu__link {
		font-size: 1.2rem;
	}
	.signin-cart-wrapper {
		margin-left: 1rem;
	}
	.logo__image {
		width: 8rem;
	}
}

@media (max-width: 895px) {
	.how-it-works__card:nth-child(2) {
		padding: 6.2rem 1.5rem;
	}

	.how-it-works__card-image {
		width: 4rem;
	}

	.how-it-works__bordered {
		width: 10rem;
		height: 10rem;
		top: -10rem;
	}

	.how-it-works__dasshed {
		top: -11rem;
		width: 12rem;
		height: 12rem;
	}

	.how-it-works__video-wrapper::before {
		height: 33%;
	}

	.how-it-works__video-wrapper::after {
		height: 30%;
	}

	.why-plant-milk__image {
		width: 100%;
	}

	.why-plant-milk__our-speciality-image {
		width: 2.3rem;
	}

	.why-plant-milk__our-speciality-text {
		font-size: 0.8rem;
		font-weight: 400;
		margin-left: 1rem;
	}
}

@media (max-width: 847px) {
	.signin-cart-wrapper__cart-image {
		width: 2rem;
	}
	.menu__link {
		font-size: 1.1rem;
	}

	.why-plant-milk__our-speciality-item {
		padding: 1rem 2rem;
		width: 32%;
	}

	.why-plant-milk__our-speciality-image {
		width: 2.5rem;
	}
}

/*tablet devices*/

@media (max-width: 768px) {
	.signin-cart-wrapper__cart-image {
		width: 1.8rem;
	}
	.menu__link {
		font-size: 1rem;
	}

	.how-it-works__cards {
		flex-direction: column;
	}

	.how-it-works__card {
		width: 90%;
		margin-bottom: 7rem;
	}

	.how-it-works__video-wrapper::before {
		height: 30%;
	}

	.how-it-works__video-wrapper::after {
		height: 26%;
	}

	.why-plant-milk__our-speciality-items {
		flex-direction: column;
	}
	.why-plant-milk__our-speciality-item {
		width: 90%;
	}
	.why-plant-milk__our-speciality-text {
		font-weight: 700;
		margin-left: 2.5rem;
	}
	.why-plant-milk__button {
		padding: 1rem;
	}
}

@media (max-width: 360px) {
	.why-plant-milk__title {
		padding-top: 4rem;
	}
}

/*how it works mobile divices*/
@media (max-width: 500px) {
	.how-it-works {
		margin-top: 3rem;
	}
	.how-it-works__video {
		margin-top: 2rem;
	}
	.how-it-works__video-wrapper::before {
		height: 22%;
		top: 45%;
	}
	.how-it-works__video-wrapper::after {
		height: 18%;
		top: 45%;
	}
	.wave {
		bottom: -1rem;
	}
}

/* Shop Section */

@media (max-width: 1024px) {
	.shop__card-title {
		font-size: 2rem;
	}
	.shop__card-desc {
		font-size: 1.5rem;
		line-height: 1.2;
	}
}

@media (max-width: 856px) {
	.shop__title {
		font-size: 3rem;
	}
}

@media (max-width: 768px) {
	.shop-flex-wrapper-1 {
		flex-direction: column;
	}
	.shop-flex-wrapper-2 {
		flex-direction: column-reverse;
	}
	.shop__card-details {
		text-align: center;
	}
	.shop__card-image {
		width: 50%;
	}
	.shop__card-title {
		font-size: 3rem;
	}
	.shop__card-desc {
		font-weight: 500;
	}
}

@media (max-width: 500px) {
	.shop {
		margin-top: -4rem;
		padding-top: 5rem;
		padding-bottom: 8rem;
	}
}

/* Recipies Section */

@media (max-width: 993px) {
	.popular-recipies__card-text {
		font-size: 1.4rem;
	}
}

@media (max-width: 893px) {
	.popular-recipies__card-text {
		font-size: 1.2rem;
		line-height: 2.2rem;
	}
}

@media (max-width: 793px) {
	.popular-recipies__card-text {
		font-size: 1.1rem;
		line-height: 2rem;
	}
}

@media (max-width: 768px) {
	.popular-recipies__title {
		font-size: 3rem;
	}
	.popular-recipies__cards {
		display: flex;
		flex-direction: column;
	}
	.popular-recipies__card {
		width: 100%;
		margin-top: 2rem;
	}
	.popular-recipies__card-text {
		font-size: 2rem;
	}
}

/* Recent News Section */
@media (min-width: 1528px) {
	.recent-news__card-title {
		font-size: 2.1rem;
	}
}

@media (max-width: 990px) {
	.recent-news__card-title {
		font-size: 1.4rem;
	}
}

@media (max-width: 890px) {
	.recent-news__card-title {
		font-size: 1.4rem;
	}
	.recent-news__card-excerpt {
		line-height: 1.4rem;
	}
}

@media (max-width: 782px) {
	.recent-news__card-body {
		padding: 1.2rem;
	}
}
@media (max-width: 768px) {
	.recent-news__card-body {
		padding: 1.2rem;
	}
	.recent-news__cards {
		display: flex;
		flex-direction: column;
	}
	.recent-news__card {
		width: 100%;
		margin-top: 3rem;
	}
	.recent-news__title {
		font-size: 3.5rem;
		margin-left: 0;
	}
	.recent-news__view-all {
		margin-right: 0;
	}
}

/*menu*/

@media (max-width: 768px) {
	.nav__elements {
		justify-content: space-between;
		height: 4rem;
	}

	.menu.active {
		position: absolute;
		background: #fff;
		box-shadow: 0 0 0.5rem 0.5rem #80c6271a;
		top: 8.2rem;
		width: 65%;
		padding: 2rem;
		z-index: 10;
		margin-left: -1rem;
	}

	.btn {
		width: 3.3rem;
		height: 3.3rem;
		cursor: pointer;
		transition: 0.5s;
		z-index: 1;
		position: relative;
	}

	.btn__bar {
		position: absolute;
		display: block;
		width: 60%;
		height: 8%;
		background: #000;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 0.8rem;
		transition: 0.2s;
	}

	.btn.active .btn__bar:nth-child(1) {
		display: none;
	}

	.btn.active .btn__bar:nth-child(2) {
		transform: rotate(43deg);
		top: 1.4rem;
		left: 0.7rem;
	}

	.btn.active .btn__bar:nth-child(3) {
		transform: rotate(-43deg);
		top: 1.4rem;
		left: 0.7rem;
	}

	.btn__bar:nth-child(1) {
		top: 0.9rem;
	}
	.btn__bar:nth-child(2) {
		top: 1.4rem;
	}

	.btn__bar:nth-child(3) {
		top: 1.9rem;
	}

	.display-b {
		display: block;
	}

	.display-n {
		display: none;
	}
}

/*menu and hero mobile devices*/

@media (max-width: 420px) {
	.logo {
		display: inherit;
		margin-left: -3rem;
	}
	.nav {
		padding: 2rem 0rem;
	}
	.btn {
		left: 1rem;
	}
	.next {
		right: 5rem;
	}
	.prev {
		left: -1rem;
	}
}

/*menu and hero mobile devices*/
@media (max-width: 445px) {
	.hero__title {
		font-size: 2.5rem;
		line-height: 3rem;
	}
}
@media (max-width: 380px) {
	.hero__title {
		font-size: 2rem;
		line-height: 3rem;
	}
}
@media (max-width: 360px) {
	.menu.active {
		width: 78%;
		margin-left: -2.5rem;
	}

	/* .next {
		right: 2rem;
	}
	.prev {
		left: -1.5rem;
	} */
}

/*footer Section*/
@media (max-width: 1184px) {
	.footer__logo-decs {
		margin-left: 0rem;
		width: 50%;
	}

	.footer__important-links {
		width: 30%;
	}

	.footer__social-links-title {
		margin-top: 3rem;
	}
}

@media (max-width: 970px) {
	.footer__important-links {
		width: 38%;
	}
}

@media (max-width: 768px) {
	.footer__elements {
		flex-direction: column;
		align-items: center;
	}

	.footer__logo-decs {
		width: 100%;
	}

	.footer__important-links {
		width: 100%;
		margin-top: 3rem;
	}

	.footer__social-links {
		width: 100%;
	}
}

@media (max-width: 360px) {
	.footer__social-link-item {
		padding: 0.9rem 0.7rem;
		width: 3.5rem;
		height: 3.5rem;
	}
	.footer__social-link-item img {
		margin-left: 0;
		width: 1.5rem;
	}

	.footer__social-link-item:nth-child(1) img {
		width: 1rem;
	}
}
