@media (max-width: 1440px) {
	.hero__image {
		width: 75rem;
	}
}

@media (max-width: 1365px) {
	.hero__image {
		width: 70rem;
	}
}

@media (max-width: 1308px) {
	.hero__image {
		width: 65rem;
	}
	.menu {
		margin-left: 5rem;
	}
	.why-plant-milk__our-speciality-item{
		padding: 1rem 3rem;

	}
}
@media (max-width: 1275px) {
	.menu {
		margin-left: 3rem;
	}
	.signin-cart-wrapper {
		margin-left: 5rem;
	}
}
@media (max-width: 1212px) {
	.hero__image {
		width: 62rem;
	}
}

@media (max-width: 1204px) {
	.signin-cart-wrapper {
		margin-left: 4rem;
	}
	.logo__image {
		width: 15rem;
	}
}

@media (max-width: 1168px) {
	.hero__image {
		width: 60rem;
	}

}

@media (max-width: 1148px) {
	.signin-cart-wrapper {
		margin-left: 4rem;
	}
	.logo__image {
		width: 12rem;
	}
}

@media (max-width: 1135px) {
	.hero__image {
		width: 55rem;
	}
	.why-plant-milk__our-speciality-item{
		padding:1.5rem;
	}
	.why-plant-milk__our-speciality-image {
		width:3rem;
	}
}

@media (max-width: 1104px) {
	.menu {
		margin-left: 2rem;
	}
	.signin-cart-wrapper {
		margin-left: 3rem;
	}
	.logo__image {
		width: 11rem;
	}
}

@media (max-width: 1061px) {
	.menu {
		margin-left: 1rem;
	}
	.signin-cart-wrapper {
		margin-left: 2rem;
	}
	.logo__image {
		width: 11rem;
	}

	.how-it-works__card:nth-child(odd){
		padding: 6rem 1.5rem;
	}

	.how-it-works__card-image{
		width:5rem;
	}

	.how-it-works__bordered{
		width: 12rem;
		height: 12rem;
		top: -12rem;
	}


	.how-it-works__dasshed {
		top: -13rem;
		width: 14rem;
		height: 14rem;
	}

}

@media (max-width: 1032px) {
	.menu__item {
		margin-left: 1rem;
	}

	.how-it-works__video-wrapper::before{
		height:36%;
	}

	.how-it-works__video-wrapper::after{
		height: 33%;
	}
}
@media (max-width: 991px) {
	.menu__item {
		margin-left: 0.8rem;
	}
}

@media (max-width: 972px) {
	.menu__item {
		margin-left: 0.5rem;
	}
}

@media (max-width: 947px) {
	.menu__item {
		margin-left: 0.3rem;
	}
	.signin-cart-wrapper {
		margin-left: 2rem;
	}
	.logo__image {
		width: 10rem;
	}

	.how-it-works__card:nth-child(1){
		padding: 7.2rem 1.5rem;
	}

}

@media (max-width: 930px) {
	.menu__item {
		margin-left: 0.3rem;
	}
	.menu__link {
		font-size: 1.2rem;
	}
	.signin-cart-wrapper {
		margin-left: 1rem;
	}
	.logo__image {
		width: 8rem;
	}
}

@media (max-width:895px){


	.how-it-works__card:nth-child(2){
		padding: 6.2rem 1.5rem;
	}

	.how-it-works__card-image{
		width:4rem;
	}

	.how-it-works__bordered{
		width: 10rem;
		height: 10rem;
		top: -10rem;
	}


	.how-it-works__dasshed {
		top: -11rem;
		width: 12rem;
		height: 12rem;
	}

	.how-it-works__video-wrapper::before{
		height:33%;
	}

	.how-it-works__video-wrapper::after{
		height: 30%;
	}

	.why-plant-milk__image{
		width:100%;
	}

	.why-plant-milk__our-speciality-image {
		width:2.3rem;
	}

	.why-plant-milk__our-speciality-text{
		font-size:0.8rem;
		font-weight: 400;
		margin-left:1rem;
	}
}

@media (max-width: 847px) {
	.signin-cart-wrapper__cart-image {
		width: 2rem;
	}
	.menu__link {
		font-size: 1.1rem;
	}

	.why-plant-milk__our-speciality-item{
		padding: 1rem 2rem;
		width:32%;
	}

	.why-plant-milk__our-speciality-image{
		width:2.5rem;
	}
}

/*tablet devices*/

@media (max-width: 768px) {
	.signin-cart-wrapper__cart-image {
		width: 1.8rem;
	}
	.menu__link {
		font-size: 1rem;
	}


	.how-it-works__cards{
		flex-direction: column;
	}


	.how-it-works__card{
		width:90%;
		margin-bottom:7rem;
	}

	.how-it-works__video-wrapper::before{
		height:30%;
	}

	.how-it-works__video-wrapper::after{
		height: 26%;
	}

	.why-plant-milk__our-speciality-items{
		flex-direction: column;
	}
	.why-plant-milk__our-speciality-item{
		width:90%;
	}
	.why-plant-milk__our-speciality-text{
		font-weight: 700;
		margin-left:2.5rem;
	}
}



